@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model EmpresaCadetes.ViewModels.PedidosModificarViewModel
@await Html.PartialAsync("_NavAdminPartial",Model.Usuario)

<form asp-action="FormularioModificar" asp-controller="Pedidos" method="post" class="form-group">
     <div asp-validation-summary="ModelOnly" class="text-danger"></div>
     <div hidden class="form-group">
        <input hidden required asp-for="numero" name="numero">
        <span asp-validation-for="numero" class="text-danger" /> 
    </div>

    
    <div class="form-group">
        <label asp-for="observacion" for="formGroupExampleInput">Detalle del Pedido</label>
        <input required asp-for="observacion" placeholder=@Model.observacion >
        <span asp-validation-for="numero" class="text-danger" /> 
    </div>

     <div hidden class="form-group">
        <input hidden required asp-for="newCliente.Id" name="newCliente.Id">
        <span asp-validation-for="newCliente.Id" class="text-danger" /> 
    </div>
    <div class="form-group">
        <label asp-for="newCliente.Nombre" for="formGroupExampleInput2">Nombre del cliente</label>
        <input  required asp-for="newCliente.Nombre" placeholder=@Model.newCliente.Direccion>
        <span asp-validation-for="newCliente.Nombre" class="text-danger" /> 
    </div>
    <div class="form-group">
        <label asp-for="newCliente.Direccion" for="formGroupExampleInput2">Direccion del cliente exacta</label>
        <input asp-for="newCliente.Direccion"  placeholder=@Model.newCliente.Direccion>
         <span asp-validation-for="newCliente.Nombre" class="text-danger" /> 
    </div>

    <div class="form-group">
        <label asp-for="newCliente.Telefono" for="formGroupExampleInput2">Telefono del cliente</label>
        <input asp-for="newCliente.Telefono" placeholder=@Model.newCliente.Telefono>
        <span asp-validation-for="newCliente.Telefono" class="text-danger" /> 
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Estado del pedido</label>
        <select class=text name="estado" asp-for="estado">
                <option selected value="CARGADO" > CARGADO </option>  
                <option value="ENVIADO" > ENVIADO </option>
                <option value="ENTREGADO"> ENTREGADO </option>
        </select>
         <span asp-validation-for="estado" class="text-danger" /> 
    </div>

    <input type="submit" name="btn" value="Cargar Pedido" />
</form>

